@import "variables.scss",
"common/common.scss",
"heder/heder.scss",
"footer/footer.scss",
"headline/headline.scss",
"about/about.scss",
"customers/customers.scss",
"features/features.scss",
"tips/tips.scss",
"inbox/inbox.scss", //
"comunication/comunication.scss", //
"audience/audience.scss", //
"feedback/feedback.scss", //
"hiring/hiring.scss", //
"order/order.scss"; //
* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    color: $text-color-initial;
}

.page {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    min-width: 320px;
    @include media1400 {
        max-width: 1400px;
    }
}

.top-section {
    background-color: $color-coral;
    @include media1400 {
        display: flex;
        flex-direction: column;
    }
    &__header {
        @include media1400 {
            margin: 39px auto 0 auto;
            flex-shrink: 0;
        }
    }
    &__headline {
        @include media1400 {
            flex-shrink: 0;
            flex-grow: 1;
        }
    }
}