* {
    box-sizing: border-box;
}

.image-container {
    margin: 50px 0px;
}

img {
    display: block;
}

.main-img {
    max-width: 100%;
    border-radius: 20px;
    margin: 0px auto;
}

.gallery {
    display: flex;
}

figurecaption {
    display: block;
    text-align: center;
    line-height: 30px;
    text-transform: lowercase;
}

.card {
    margin: 16px;
    box-shadow: 0px 7px 18px -8px rgba(0, 0, 0, 0.75);
}

.img1 {
    filter: opacity(50%);
}

.img2 {
    filter: blur(4px);
}

.img3 {
    filter: invert(100%);
}