.header {
    background-color: yellow;
    height: 50px;
}

.footer {
    clear: both;
    background-color: green;
    height: 50px
}

.content {
    width: 80%;
    height: 500px;
    background-color: pink;
    float: left;
}

.sidebar {
    width: 20%;
    height: 500px;
    background-color: grey;
    float: left;
}

body>* {
    box-sizing: border-box;
}