p.theory::first-line {
    font-size: 24px;
}

body>p.theory::selection {
    background-color: red;
    color: white;
}

p.theory::first-letter {
    font-size: 36px;
    margin-left: 16px;
    color: orange;
}

a::before {
    content: "> ";
}

a::after {
    content: " <";
}