div>div>div>div {
    background-color: pink;
}

div>div>div {
    background-color: green;
}

div>div {
    background-color: yellow;
}

body>div {
    background-color: blue;
    margin: 50px;
}

div {
    padding: 50px;
}