.text {
    position: absolute;
    margin: 16px;
    border-bottom: 1px dotted black;
}

.tooltip {
    display: none;
}

.text:hover .tooltip {
    display: block;
    position: absolute;
    text-align: center;
    bottom: -40px;
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
}