.top-section {
    background-color: rgba(243, 198, 189, 1);
    height: 710px;
    &__header {
        margin: 39px auto 0 auto;
    }
}

.header {
    width: 1140px;
    height: 62px;
    display: flex;
    &__logo {
        margin-top: 2px;
    }
    &__navigation {
        margin-left: auto;
        margin-top: 7px;
    }
    &__button {
        margin-left: 56px;
    }
}

.logo {
    width: 299px;
    height: 60px;
    display: flex;
    align-items: center;
    &__img {
        width: 60px;
        height: 60px;
    }
    &__text {
        margin-left: 15px;
    }
    &__name {
        line-height: 25px;
        font-size: 20px;
        font-weight: 700;
    }
    &__description {
        line-height: 25px;
        font-size: 18px;
        opacity: 0.6;
    }
}

.navigation {
    display: flex;
    &__link {
        text-decoration: none;
        color: rgba(43, 41, 45, 1);
        font-size: 18px;
        line-height: 25px;
    }
    &__link:nth-child(n+2) {
        margin-left: 8ch;
    }
    &__link_bold {
        font-weight: 700;
    }
    &__arrow {
        display: inline-block;
        height: 5px;
        width: 8px;
        background-image: url(img/arrow.png);
        background-size: 100% 100%;
        margin-left: 11px;
    }
}

.button-action {
    width: 160px;
    height: 48px;
    border-radius: 2px;
    background-color: rgba(48, 64, 196, 1);
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 18px;
    border: none;
}