$text-color-initial: #11223F;
$text-color-blue:#1968FC;
$color-blue-light:#1967FA;
$text-color-blue-transparent:rgba(25, 103, 250, 0.8);
$text-color-navigation: #000000;
$text-color-btn:#FFFFFF;
$color-grey:#F3F7FF;
$breakpoint: 1024px;